@import "tailwindcss";

/* Theme 1 - Clásico */
[data-theme='theme-1'] {
  --primary-color: #932f67;
  --secondary-color: #d92c54;
  --third-color: #dddeab;
}

/* Theme 2 - Azul */
[data-theme='theme-2'] {
  --primary-color: #799eff;
  --secondary-color: #feffc4;
  --third-color: #ffde63;
}

/* Theme 3 - Naranja */
[data-theme='theme-3'] {
  --primary-color: #fe7743;
  --secondary-color: #273f4f;
  --third-color: #447d9b;
}

/* Ejemplo de aplicación global */
body {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}
